.slotCard
  margin-top: 10px
  width: 49%

  .labelLine
    height: 16px
    line-height: 16px

    .pcsTitle
      font-size: 1.3rem
      color: #666666

    .slotNo
      font-size: 1rem
      color: #222222

  .pcsValue
    font-size: 2rem
    text-align: center
    line-height: 50px
    font-weight: bold

  .weightValue
    font-size: 1.1rem


.warnBg
  background-color: #FEFCEC

.warnText
  color: #F76A24

.highlight
  background-color: #FF9808 !important
  box-shadow: 3px 2px 10px #FF9808
