.tabs-wrapper
  padding: 0 15px
  background-color: #FEFFFF

.tabs
  display: flex
  justify-content: flex-start
  width: 100%
  border-bottom: 1px solid #E4E2D3
  padding-bottom: 3px
  box-shadow: 0 3px #E4E2D3

  .item
    display: flex
    flex-direction: column
    justify-content: space-between

    .text
      padding: 0 10px
      line-height: 40px
      color: #BABBBB
      font-weight: bold

    .focus
      height: 4px
      width: 0
      background-color: #00A862
      transition: all .2s

  .item-focus
    .text
      color: #1E1E1E

    .focus
      width: 100%

.search-notice
  span
    color: #A96D12

    b
      color: #F86F23

.temp-sensors
  .group-name
    background-color: #D8D8D8
    text-align: center
    font-size: 1rem
    font-weight: bold
    padding: 5px 0
    border-radius: 5px
    color: #1E1E1E

  .sensors
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.blank
  width: 100%
  height: 200px
  text-align: center
  line-height: 200px
  color: transparent
  background-color: transparent
