.floatButton
  position: fixed
  width: 30px
  height: 30px
  border-radius: 50%
  background-color: white
  box-shadow: #666666 2px 2px 10px
  padding: 10px

  .icon
    width: 30px
    height: 30px

.move
  background-color: #0e80d2
